Enseignant/Model/classes/ensegnantchkil/EnseignantFacadeBeanService1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://model/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://model/">
  <xsd:complexType name="getEnseignantFindAll"/>
  <xsd:complexType name="getEnseignantFindAllResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:enseignant" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getEnseignantFindEnseignantByID">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getEnseignantFindEnseignantByIDResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:enseignant" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="queryByRange">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
      <xsd:element name="arg1" type="xsd:int"/>
      <xsd:element name="arg2" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="queryByRangeResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:anyType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="removeEnseignant">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:enseignant" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="enseignant">
    <xsd:sequence>
      <xsd:element name="adresse" type="xsd:string" minOccurs="0"/>
      <xsd:element name="email" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idEnseignant" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nom" type="xsd:string" minOccurs="0"/>
      <xsd:element name="prenom" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getEnseignantFindAll" type="ns0:getEnseignantFindAll"/>
  <xsd:element name="getEnseignantFindAllResponse" type="ns0:getEnseignantFindAllResponse"/>
  <xsd:element name="getEnseignantFindEnseignantByID" type="ns0:getEnseignantFindEnseignantByID"/>
  <xsd:element name="getEnseignantFindEnseignantByIDResponse" type="ns0:getEnseignantFindEnseignantByIDResponse"/>
  <xsd:element name="queryByRange" type="ns0:queryByRange"/>
  <xsd:element name="queryByRangeResponse" type="ns0:queryByRangeResponse"/>
  <xsd:element name="removeEnseignant" type="ns0:removeEnseignant"/>
</xsd:schema>