EtudiantPage/Model/etudiantpage/TestParcourBeanService1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://model/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://model/">
  <xsd:complexType name="getEtudiantAfficherEtudiantParParcour">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getEtudiantAfficherEtudiantParParcourResponse">
    <xsd:sequence>
      <xsd:element name="return" type="ns0:etudiant" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="queryByRange">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
      <xsd:element name="arg1" type="xsd:int"/>
      <xsd:element name="arg2" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="queryByRangeResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:anyType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="etudiant">
    <xsd:sequence>
      <xsd:element name="idEtudiant" type="xsd:string" minOccurs="0"/>
      <xsd:element name="idParcour" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nom" type="xsd:string" minOccurs="0"/>
      <xsd:element name="prenom" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getEtudiantAfficherEtudiantParParcour" type="ns0:getEtudiantAfficherEtudiantParParcour"/>
  <xsd:element name="getEtudiantAfficherEtudiantParParcourResponse" type="ns0:getEtudiantAfficherEtudiantParParcourResponse"/>
  <xsd:element name="queryByRange" type="ns0:queryByRange"/>
  <xsd:element name="queryByRangeResponse" type="ns0:queryByRangeResponse"/>
</xsd:schema>